/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #2b2440 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #f6cab8; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #f6cab8; background-color: rgba(17,243,220,0.4)}
.cm-s-nqqwal { background-color: #2b2440; color: #f6cab8; }
.cm-s-nqqwal span.cm-builtin { color: #EC897E; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #ac8d80; }
.cm-s-nqqwal span.cm-keyword { color: #5B6089; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8C4F80; }
.cm-s-nqqwal span.cm-def { color: #359AA9; }
.cm-s-nqqwal span.cm-variable { color: #11F3DC; }
.cm-s-nqqwal span.cm-variable-2 { color: #359AA9; }
.cm-s-nqqwal span.cm-string { color: #EC897E; }
.cm-s-nqqwal span.cm-string-2 { color: #EC897E; }
.cm-s-nqqwal span.cm-number { color: #359AA9; }
.cm-s-nqqwal span.cm-tag { color: #5B6089; }
.cm-s-nqqwal span.cm-property { color: #11F3DC; }
.cm-s-nqqwal span.cm-attribute { color: #11F3DC; }
.cm-s-nqqwal span.cm-qualifier { color: #8C4F80; }
.cm-s-nqqwal span.cm-meta { color: #359AA9; }
.cm-s-nqqwal span.cm-header { color: #5B6089; }
.cm-s-nqqwal span.cm-operator { color: #5B6089; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(53,154,169,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #5B6089; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #2b2440); }
